%div{:style => "clear:both; height:50px;"}
  %br/
.footer
  .inside-footer
    = I18n.t(:footer_copy_right)
    %a{:href => "mailto:eol@bibalex.org"} #{I18n.t(:url_eol_bibalex)}
    %div{:style => "clear: both;"}
%div{:style => "clear:both; height:15px;"}
  %br/