%div{:style => "clear:both; height:50px;"}
  %br/
.footer
  .inside-footer
    Copyright © Bibliotheca Alexandrina (V.1.2)
    , Email:
    %a{:href => "mailto:eol@bibalex.org"} eol@bibalex.org
    %div{:style => "clear: both;"}
%div{:style => "clear:both; height:15px;"}
  %br/