.banner
  .ba_logo
    %p Powered by:
    %a{:href => "#{I18n.t(:url_bibalex)}", :target => "_blank"}
      %img{:alt => "#{I18n.t(:image_alt_BA_Logo)}", :src => "/images/BA_Logo.png"}/
  - if !session[:user_id].nil?
    = render :partial => "layouts/user"
= render :partial => "layouts/flash", object: flash