.banner
  .ba_logo
    %p Powered by:
    %a{:href => "http://www.bibalex.org", :target => "_blank"}
      %img{:alt => "Bibliotheca Alexandrina", :src => "/images/BA_Logo.png"}/
  = render :partial => "layouts/user"